[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=aeroshell
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=10
Icon=preferences-desktop-theme-global

Name=AeroShell Preferences
Name[es]=Preferencias de AeroShell
